<html>
  <body>
    <form method="POST" action="/">
      Title
      <input type="text" name="title">
      Url
      <input type="text" name="url">
      Image address
      <input type="text" name="image">
      <input type="submit" value="Add Movie">
    </form>
    <h1>Movie list</h1>
    {% for movie in movies[:50] %}
    <!-- <img src="{{movie.image}}" alt=""> -->
      <!-- <p>{{movie.title}}</p> -->
      <table>
        <tr>
          <th>{{movie.title}}</th>
          <td><a href="{{movie.url}}">link</a></td>
        </tr>
        <tr>
          <td>
            <form method="POST" action="./update">
              <input type="hidden" value="{{movie.title}}" name="oldtitle">
              <input type="text" value="{{movie.title}}" name="newtitle">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="{{ url_for('delete', id=movie.id) }}">
              <input type="hidden" value="{{movie.id}}" name="id">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      </table>
    {% endfor %}
  </body>

</html>
