<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movies List</title>
  </head>
  <body>
    <h1>Movies List</h1>
    <h4>Total number of movies: {{ movies.__len__() }}</h4>
    <p>
      <button><a href="{{ url_for('create')}}">Add a new movie</a></button>
    </p>
    {% for movie in movies[:50] %}
      <table>
        <tr><img src="{{movie.image}}" alt="{{movie.title}}"  width="200" height="270"></tr>
        <tr>
          <th><a href="{{movie.url}}">{{movie.title}}</a></th>
          <td>Rating: {{movie.rating}}</td>
        </tr>
        <tr>
            <td>
              <span>
                <button><a href="{{ url_for('update', id=movie.id)}}">Update</a></button>
                <form method="POST" action="{{ url_for('delete', id=movie.id) }}">
                  <input type="submit" value="Delete">
                </form>
              </span>
            </td>
          </td>
        </tr>
      </table>
    {% endfor %}
  </body>
</html>
