<html>
  <body>
    <form method="POST" action="/">
      Title
      <input type="text" name="title">
      Url
      <input type="text" name="url">
      Image address
      <input type="text" name="image">
      Rating
      <input type="text" name="rating">
      <input type="submit" value="Add Movie">
    </form>
    <h1>Movie list</h1>
    <h4>Total number of movies: {{ movies.__len__() }}</h4>
    {% for movie in movies[:50] %}
      <table>
        <tr><img src="{{movie.image}}" alt="{{movie.title}}"  width="200" height="270"></tr>
        <tr>
          <th><a href="{{movie.url}}">{{movie.title}}</a></th>
          <td>Rating: {{movie.rating}}</td>
        </tr>
        <tr>
          <td>
            <form method="POST" action="{{ url_for('update', id=movie.id) }}">
              <input type="text" value="{{movie.title}}" name="newtitle">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="{{ url_for('delete', id=movie.id) }}">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      </table>
    {% endfor %}
  </body>

</html>
